.bikes-section {
  width: 100%;
  margin-top: 120px;
  position: relative;

  &::before {
    content: "";
    width: 500px;
    max-width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url("../../../assets/wave1.png") no-repeat;
    background-size: contain;
  }

  > .wrapper {
    position: relative;

    @media screen and (max-width: 1023px) {
      padding: 0px 16px;
    }

    > .carousel {
      width: 80vw;
      position: relative;
      left: 0;
      top: 0;
      right: 0;

      @media screen and (max-width: 1023px) {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
      }

      > .swiper-wrapper {
        // background-color: red;
        padding-bottom: 26px;

        .swiper-slide {
          opacity: 0.25 !important;

          &.swiper-slide-next {
            + .swiper-slide {
              opacity: 0.25 !important;
            }
          }

          &.swiper-slide-visible {
            opacity: 1 !important;
          }
        }
      }

      .carousel-nav {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        // margin-top: 26px;

        .custom-prev1 {
          margin-right: 16px;
        }

        .custom-next1,
        .custom-prev1 {
          &.swiper-button-disabled {
            pointer-events: all !important;
            cursor: not-allowed !important;
            background: #ffe8b9;
            color: var(--gold);
          }
        }

        .custom-prev1,
        .custom-next1 {
          width: 48px;
          height: 48px;
          background: var(--light-gold);
          cursor: pointer;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--black);
        }
      }
    }
  }
}
